<ion-header>
  <ion-toolbar>
    <ion-item>
    <ion-title>R E S U M E N&nbsp;&nbsp;D E&nbsp;&nbsp;M E S A</ion-title>
  </ion-item>
    <ion-card no-margin>
        <ion-grid>
          <ion-row>
            <ion-col class ="res1">
              <ion-card-subtitle>MESA: {{pedidosMesa.cod_mesa}}</ion-card-subtitle>
              <ion-card-subtitle>N° PEDIDO: {{pedidosMesa.cod_pedido}}</ion-card-subtitle>
              <ion-card-subtitle>GARZÓN: {{pedidosMesa.garzon}}</ion-card-subtitle>
              <ion-card-subtitle>SUB TOTAL: {{pedidosMesa.pedido.subtotal}}</ion-card-subtitle>
              <ion-card-subtitle>PROPINA SUGERIDA: {{pedidosMesa.pedido.propina_sugerida}}</ion-card-subtitle>
              <ion-card-subtitle>TOTAL A PAGAR: {{pedidosMesa.pedido.total}}</ion-card-subtitle>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-button expand="block" (click)="agregaPedido()">Agregar Pedido</ion-button>
  </ion-card>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card no-margin>
  <ion-card-header>
    R e s u m e n&nbsp;&nbsp;d e&nbsp;&nbsp;p e d i d o
    <ion-segment (click)="cambio($event)" value="1">
      <ion-segment-button value="1">Listos</ion-segment-button>
      <ion-segment-button value="2">preparación</ion-segment-button>
      <ion-segment-button value="3">Cancelados</ion-segment-button>
    </ion-segment>
  </ion-card-header>
    <div *ngIf="valueSelected === '1'">
    <ion-grid *ngFor='let res of getEstado("Listo"); index as i'>
      <ion-row>
      <ion-item>
        <ion-col class="ped_cons2">

            <ion-label>x{{res.cantidad}} {{res.nombre}}</ion-label>

        </ion-col>
      </ion-item>
      </ion-row>
    </ion-grid>
  </div>
  <div *ngIf="valueSelected === '2'">
    <ion-grid *ngFor='let res of getEstado("En preparación"); index as i'>
      <ion-row>
      <ion-item>
        <ion-col class="ped_cons2">

          <ion-label>x{{res.cantidad}} {{res.nombre}}</ion-label>

        </ion-col>

      </ion-item>
      </ion-row>
    </ion-grid>
  </div>
  <div *ngIf="valueSelected === '3'">
    <ion-grid *ngFor='let res of getEstado("Cancelado"); index as i'>
      <ion-row>
      <ion-item>
        <ion-col class="ped_cons2">

          <ion-label>x{{res.cantidad}} {{res.nombre}}</ion-label>

        </ion-col>

      </ion-item>
      </ion-row>
    </ion-grid>
  </div>
</ion-card>

</ion-content>
